<div class="content">

	<header><%= link_to "Admin Home", admin_home_path %> > Charges</header>

	<table class="formatted-table">

		<thead>
			
			<tr>

				<th>Date/Time</th>

				<th>Amount</th>

				<th>Service Fee</th>

				<th>Customer Email</th>

				<th>Tasker Email</th>

			</tr>

		</thead>

		<tbody>
			
			<% Charge.all.each do |charge| %>

				<tr>

					<td><%= charge.created_at.strftime("%m/%e/%y %H:%M") %></td>

					<td><%= number_to_currency(charge.amount/100) %></td>

					<td><%= number_to_currency(charge.service_fee/100) %></td>

					<td><%= User.find(charge.user_id).email %></td>

					<td><%= User.find(charge.tasker_id).email %></td>

				</tr>

			<%end%>

		</tbody>


	</table>


</div>
