<div class="content">

	<header><%= link_to "Admin Home", admin_home_path %> > Users</header>

	<span class="mobile-only soft-warning">Notice: This admin page looks best on a larger screen!</span>
	
	<table class="formatted-table">

		<thead>
			
			<tr>

				<th>ID</th>

				<th colspan="2">Name</th>

				<th>Email</th>

				<th>User Type</th>

				<th>Total Requests</th>

				<th>Last Online</th>

				<th></th>

			</tr>

		</thead>

		<tbody>
			
			<% User.all.sort_by(&:created_at).reverse.each do |user| %>

				<tr>

					<td><%= user.id %></td>

					<td><%= image_tag user.image.url(:small), class:"small-image rounded" %></td>
					
					<td><%= user.first_name %> <%= user.last_name %></td>

					<td><%= user.email %></td>

					<td><% if user.is_tasker %>Mobile Professional<%else%>Customer<%end%></td>

					<td>
						<%if user.last_seen_at %>
							Last Online: <%= time_ago_in_words(user.last_seen_at) %> ago
						<%end%>
					</td>

					<td>
						<%if user.is_tasker %>
							Requests Accepted: <%= user.requests_assigned_to_me.count %>
						<%else%>
							Requests Made: <%= user.service_requests.count %>
						<%end%>
					</td>

				</tr>

			<%end%>

		</tbody>


	</table>

</div>
