<div class="content">

	<header><%= link_to "Admin Home", admin_home_path %> > Users</header>

	<span class="mobile-only soft-warning">Notice: This admin page looks best on a larger screen!</span>
	
	<table class="formatted-table">

		<thead>
			
			<tr>

				<th>ID</th>

				<th colspan="2">Name</th>

				<th>Email</th>

				<th>User Type</th>

				<th>Payment Info?</th>

				<th>Stripe Connect?</th>

				<th></th>

			</tr>

		</thead>

		<tbody>
			
			<% User.all.sort_by(&:created_at).reverse.each do |user| %>

				<tr>

					<td><%= user.id %></td>

					<td><%= image_tag user.image.url(:small), class:"small-image rounded" %></td>
					
					<td><%= user.first_name %> <%= user.last_name %></td>

					<td><%= user.email %></td>

					<td><% if user.is_tasker %>Mobile Professional<%else%>Customer<%end%></td>

					<td>
						<%if user.stripe_customer_object %>
							
							Yes

						<%else%>

							No

						<%end%>
					</td>

					<td>
						<%#if user.stripe_account_object %>
							
							

						<%#else%>

							

						<%#end%>
					</td>

				</tr>

			<%end%>

		</tbody>


	</table>

</div>
