<div class="content">

	<header><%= link_to "Admin Home", admin_home_path %> > Service Requests</header>

	<span class="mobile-only soft-warning">Notice: This admin page looks best on a larger screen!</span>
	
	<table class="formatted-table">

		<thead>
			
			<tr>

				<th>ID</th>

				<th>Description</th>

				<th>Budget</th>

				<th>Customer ID</th>

				<th>Tasker ID</th>

				<th>Initiated</th>

				<th>Confirmed Completion</th>

				<th>Time Elapsed</th>

				<th></th>

			</tr>

		</thead>

		<tbody>
			
			<% ServiceRequest.all.sort_by(&:created_at).reverse.each do |request| %>

				<tr>

					<td><%= request.id %></td>

					<td><%= request.description %></td>

					<td><%= number_to_currency(request.price) %></td>

					<td><%= request.user_id%></td>

					<td>
						<% if request.tasker_id %>
							<%= request.tasker_id%>
						<%else%>
							Not Accepted
						<%end%>
					</td>

					<td>
						<%= request.created_at.strftime("%m/%e/%y")%><br>
						<%= request.created_at.strftime("%H:%M")%>
					</td>


					<td>
						<% if request.tasker_completion_time %>
							<%= request.tasker_completion_time.strftime("%m/%e/%y") %>
							<br>
							<%= request.tasker_completion_time.strftime("%H:%M") %>
						<% end %>
					</td>

					<td>
						<%= request.time_between_request_and_completion %>
					</td>

					<td>
						<% if request.has_pending_charge %>
							<%= link_to "Process Payment", service_request_process_payment_path(request.id), class:"button green-background" %>
						<%end%>
					</td>


				</tr>

			<%end%>

		</tbody>

	</table>

</div>
