<div class="content">

	<header><%= link_to "Admin Home", admin_home_path %> > Service Requests</header>

	<span class="mobile-only soft-warning">Notice: This admin page looks best on a larger screen!</span>
	
	<table class="formatted-table">

		<thead>
			
			<tr>

				<th>Description</th>

				<th>Type</th>

				<th>Time Initiated</th>

				<th>Time Completed</th>

				<th>Time Elapsed</th>

				<th>Hours Reported</th>

				<th>Hourly Rate</th>

				<th>Total Price</th>

				<th></th>

			</tr>

		</thead>

		<tbody>
			
			<% ServiceRequest.all.sort_by(&:created_at).reverse.each do |request| %>

				<tr>

					<td><%= request.description %></td>

					<td><% if request.is_live%> Real-time <% else %> Scheduled <%end%></td>

					<td>
						<%= request.created_at.strftime("%m/%e/%y")%><br>
						<%= request.created_at.strftime("%H:%M")%>
					</td>


					<td>
						<% if request.tasker_completion_time %>
							<%= request.tasker_completion_time.strftime("%m/%e/%y") %>
							<br>
							<%= request.tasker_completion_time.strftime("%H:%M") %>
						<% end %>
					</td>

					<td>
						<%= request.time_between_request_and_completion %>
					</td>

					<td>
						<% if request.hours_reported_by_tasker%>
							<%= request.hours_reported_by_tasker %> hours 
						<%end%>
					</td>

					<td>
						<% if request.tasker_hourly_rate %><%= number_to_currency(request.tasker_hourly_rate, precision: 0) %>  / hr<%end%>
					</td>

					<td>
						<% if request.is_live %>
							<%= number_to_currency(request.price) %>
						<%else%>
							
							<% if request.calculated_price_for_scheduled %>
								<%= number_to_currency(request.calculated_price_for_scheduled) %>
							<%end%>
						
						<%end%>
					</td>

				
					<td>
						<% if request.has_pending_charge %>
							
							<%= link_to "Process Payment", service_request_process_payment_path(request.id), class:"button green-background" %>
						
						<%else%>

							<% if request.charge_approved %>

								Charge Complete
								
							<%end%>


						<%end%>
					</td>


				</tr>

			<%end%>

		</tbody>

	</table>

</div>
