
<div class="reveal-panel" id="when" style="display: none;">

	<!-- <a class="back-button click-to-reveal" data-reveal-panel-id="where"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Address</a> -->

	<div class="card clear-on-mobile-device">
		
		<h3>When?</h3>
		
		<div class="form-controller centered card-content">

			<span class="glyphicon glyphicon-chevron-left padded-arrow change-time-label clickable" aria-hidden="true" data-change-interval="-1"></span><a class="time-label" data-label-time="<%= Date.tomorrow %>"><span class="full-screen-only"><%= Date.tomorrow.strftime("%a")%>, </span><%= Date.tomorrow.strftime("%b %d")%></a><span class="glyphicon glyphicon-chevron-right padded-arrow change-time-label clickable" aria-hidden="true" data-change-interval="1"></span>

			<%= f.hidden_field :scheduled_day, :value => Date.tomorrow, :id => "scheduled_day", class: "form-controller-input" %>

			<br><br>
			
			<ul class="horizontal centered button-list spread three"><li><a class="button light-grey-background fill-input" data-input-id="time_of_day" data-input-value="Morning">Morning<br>(8a - 12p)</a></li><li><a class="button light-grey-background fill-input" data-input-id="time_of_day" data-input-value="Afternoon">Afternoon<br>(12p - 5p)</a></li><li><a class="button light-grey-background fill-input" data-input-id="time_of_day" data-input-value="Evening">Evening<br>(5p - 9p)</a></li></ul>

			<%= f.hidden_field :time_of_day, :value => "Afternoon", :id => "time_of_day" %>

			<br>

			<a class="button brand-blue-background medium click-to-reveal hide-on-mobile-device" data-reveal-panel-id="where">Next</a>

			<div class="bottom-cta-container">
				
				<a class="button brand-blue-background medium click-to-reveal bottom-cta" data-reveal-panel-id="where">Next</a>
				
			</div>

		</div>

	</div>

</div>

