
<div class="reveal-panel" id="additional">

	<!-- <a class="back-button click-to-reveal" data-reveal-panel-id="where"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Address</a> -->

	<div class="card clear-on-mobile-device">

		<h3>Task Details</h3>

		<div class="card-content">
			
			<label>Description</label><br>
			<%= f.text_field :description, placeholder: "Brief Description of Task"  %>

			<br><br>

			<label>Any Relevant Details</label><br>
			<%= f.text_area :additional_information, placeholder: @additional_information_example_text  %>

			<br><br>

			<label>Set a Budget</label><br>
			<%= f.number_field :price, class: "centered price" %>

			<br><br>

			<label>Contact Phone Number</label><br>

			<% if current_user.contact_phone_number %>
				
				<%= f.text_field :contact_phone_number, value: current_user.contact_phone_number, placeholder: "514 555 5555"  %>
			
			<%else%>

				<%= f.text_field :contact_phone_number, placeholder: "514 555 5555"  %>

			<%end%>

			<br><br>

			<a class="button brand-blue-background medium click-to-reveal full-screen-only" data-reveal-panel-id="<%= next_step %>">Continue</a>

		</div>

	</div>


	<div class="fixed-bottom-cta mobile-only">

		<a class="button brand-blue-background medium click-to-reveal" data-reveal-panel-id="<%= next_step %>">Continue</a>

	</div>

	<div class="fixed-bottom-cta-offset mobile-only">

	</div>

</div>