<%= link_to show_service_request_path(request.id) do %>

	<div class="service-request-index card index <% if active %>active<% end %>">

		<div class="card-content">

			<div class="row">

				<div class="col-xs-12 col-sm-8 col-md-9">

					<h4><%= request.description %></h4>

					<span class="request-price"><%= number_to_currency(request.price) %></span>

					<br>

					<% if request.service_category %>

						<%= request.service_category.name %> task
						<br>
						
					<%end%>
					
					<% if request.tasker_id == current_user.id %>
					
						Address: <%= request.address %>
						<br>
						Contact Phone: <%= request.contact_phone_number %>
						<br>
					
					<% end %>
					
					Submitted <%= time_ago_in_words(request.created_at) + " ago" %>
					<%# request.address %>
					<br>
					Additional Details: "<%= request.additional_information %>"
					<%# task_status_tag(request) %>
					<br>

					<% if request.latitude && request.longitude %>
						
						<%= current_user.distance_to_destination(request.latitude, request.longitude).round(1).to_s + " miles away" %>

					<%end%>

					<span class="mobile-only"><br></span>

				</div>

				<% if request.tasker_id == current_user.id %>

					<% unless request.is_complete_tasker %>

						<div class="col-xs-12 col-sm-4 col-md-3" style="text-align: right;">

							<div class="row">

								<div class="col-xs-12 col-sm-12 centered">

									<%if request.is_live %>
									
										<%= link_to "Mark as Complete", mark_as_complete_path(request.id), class:"button small green-background" %>
									
									<%else%>

										<a class="click-to-reveal button small green-background" data-reveal-panel-id="activeTaskCompletionHours">Mark as Complete</a>

										<%= render 'service_requests/active_task_completion_hours', request: request %>

									<%end%>

									<br><br>

								</div>

								<div class="col-xs-12 col-sm-12 centered">

									<a class="button small dark-red-background">Cancel</a>

								</div>

							</div>
						
						</div>

					<%else%>
						
						<div class="col-xs-12 col-sm-4 col-md-3" style="text-align: right;">

							<span class="card-right-corner green-background"><span class="glyphicon glyphicon-ok"></span>Complete</span>
						
						</div>

					<%end%>
					

				<%else%>

					<% if request.user_id == current_user.id %>

						<% unless request.is_complete_tasker %>

							<div class="col-xs-12 col-sm-4 col-md-3" style="text-align: right;">

								<div class="row">

									<div class="col-xs-12 col-sm-12 centered">

										<%= link_to "Modify", review_service_request_details_path(request.id), class:"button small green-background" %>

										<br><br>

									</div>

									<div class="col-xs-12 col-sm-12 centered">

										<a class="button small dark-red-background">Cancel</a>

									</div>

								</div>
							
							</div>

						<%else%>
							
							<div class="col-xs-12 col-sm-4 col-md-3" style="text-align: right;">

								<span class="card-right-corner green-background"><span class="glyphicon glyphicon-ok"></span>Complete</span>
							
							</div>

						<%end%>

					<%end%>
				
				<%end%>
					
			</div>

		</div>	

	</div>

<%end%>

