<%# link_to show_service_request_path(request.id) do %>

	<div class="service-request-index card index <% if active %>active<% end %>">

		<div class="card-content">

			<div class="row">

				<div class="col-xs-12 col-sm-8">

					<h4><%= request.description %></h4>

					<span class="request-price"><%= number_to_currency(request.price) %></span>

					<br>

					<% if request.service_category %>

						<%= request.service_category.name %> task
						<br>
						
					<%end%>
					
					<% if request.tasker_id == current_user.id %>
					
						Address: <%= request.address %>
						<br>
						Contact Phone: <%= request.contact_phone_number %>
						<br>
					
					<% end %>
					
					Submitted <%= time_ago_in_words(request.created_at) + " ago" %>
					<%# request.address %>
					<br>
					Additional Details: "<%= request.additional_information %>"
					<%# task_status_tag(request) %>
					

					<% if current_user.is_admin %><br>Record ID: <%= request.id %><%end%>


					<% if request.latitude && request.longitude && current_user.is_tasker %>
						<br>
						<%= current_user.distance_to_destination(request.latitude, request.longitude).round(1).to_s + " miles away" %>

					<%end%>

					<span class="mobile-only"><br></span>

				</div>

				<% if request.tasker_id == current_user.id %>

					<% unless request.is_complete_tasker %>

						<div class="col-xs-12 col-sm-4 centered">

							<%if request.is_live %>
							
								<%= link_to "Mark as Complete", mark_as_complete_path(request.id), class:"button small green-background" %>
							
							<%else%>

								<a class="click-to-reveal button small green-background" data-reveal-panel-id="activeTaskCompletionHours">Mark as Complete</a>

								<%= render 'service_requests/active_task_completion_hours', request: request %>

							<%end%>

							<br><br>

							<%= link_to "Cancel", mark_as_cancelled_path(request.id), class:"button small dark-red-background" %>
						
						</div>

					<%else%>

						<span class="card-right-corner green-background"><span class="glyphicon glyphicon-ok"></span>Complete</span>

					<%end%>
					

				<%else%>

					<% if request.user_id == current_user.id %>

						<% unless request.is_cancelled %>

							<% unless request.is_complete_tasker %>

								<div class="col-xs-12 col-sm-4 centered">

									<%= link_to "Modify", review_service_request_details_path(request.id), class:"button small green-background" %>

									<br><br>

									<%= link_to "Cancel", mark_as_cancelled_path(request.id), class:"button small dark-red-background" %>
								
								</div>

							<%else%>
								
								<span class="card-right-corner green-background"><span class="glyphicon glyphicon-ok"></span>Complete</span>

							<%end%>

						<%else%>

							<span class="card-right-corner"><span class="glyphicon glyphicon-remove"></span>Cancelled</span>
								
						<%end%>
					
					<% elsif current_user.is_tasker %>
						
						<div class="col-xs-12 col-sm-4 centered">
							
							<%= form_tag add_tasker_to_service_request_path(request.id, current_user.id) do %>
					          
					          <button class="button green-background small">Accept This Job</button>

					        <%end%>

				      	</div>

					<%end%>
				
				<%end%>
					
			</div>

		</div>	

	</div>

<%#end%>

