
<div class="service-request-index card clear-on-mobile-device">

	<div class="row card-content">

		<div class="col-xs-12 col-sm-7 col-md-9">

			<h4><%= request.description %></h4>
			<br>

			<span class="request-price"><%= number_to_currency(request.price) %></span>
			<br>


			<%= request.service_category.name %> task
			<br>

			<% if request.tasker_id == current_user.id %>
				
				Address: <%= request.address %>
				<br>
				
			<% end %>

			Submitted <%= time_ago_in_words(request.created_at) + " ago" %>
			<%# request.address %>
			<br>
			Additional Details: "<%= request.additional_information %>"
			<%# task_status_tag(request) %>
			<br>

			<% if request.latitude && request.longitude %>
				
				<%= current_user.distance_to_destination(request.latitude, request.longitude).round(1).to_s + " miles away" %>

			<%end%>

			<span class="mobile-only"><br></span>
		</div>

		<div class="col-xs-12 col-sm-5 col-md-3 centered">

			<div class="row">

				<% if request.tasker_id == current_user.id %>

					<div class="col-xs-6 col-sm-12">

						<%if request.is_live %>
									
							<%= link_to "Mark as Complete", mark_as_complete_path(request.id), class:"button small green-background" %>
									
						<%else%>

							<a class="click-to-reveal button small green-background" data-reveal-panel-id="activeTaskCompletionHours">Mark as Complete</a>

							<%= render 'service_requests/active_task_completion_hours', request: request %>

						<%end%>

					</div>

					<div class="col-xs-6 col-sm-12">

						<a class="button small dark-red-background">Cancel</a>

					</div>

				<%else%>

					<% unless current_user.is_tasker %>
      	
				      	<div class="col-xs-6 col-sm-12">

				      		<%= link_to "Modify", review_service_request_details_path(request.id), class:"button small green-background" %>

							<span class="full-screen-only"><br></span>
							
						</div>

						<div class="col-xs-6 col-sm-12">

							<a class="button small dark-red-background">Cancel</a>

						</div>
				      
				    <% else %>

				        <%= form_tag add_tasker_to_service_request_path(request.id, current_user.id) do %>
				          
				          <button class="button green-background small">Accept Job</button>
				        
				        <%end%>
					
					<% end %>

				<%end%>

			</div>
		
		</div>

	</div>	

</div>

