<%= render 'service_requests/progress_header' %>

<div class="content has_fixed_header">

	<%= form_for(@service_request) do |f| %>

		<header class="full-screen-only"><%if @service_category %><%= @service_category.name %><%end%></header>

		<%if @service_category%>

			<%= f.hidden_field :service_category_id, :value => @service_category.id %>

		<%else%>

			<div class="form-container medium card">

				<label>Which Service?</label>

				<%= f.collection_select :service_category_id, ServiceCategory.all, :id, :name, :prompt=>"Select a Service"%>
			
			</div>

			<br>


		<%end%>

		<div class="form-container medium card">

			<label>When?</label>

			<ul class="horizontal centered button-list spread two"><li><a class="button purple-background"><span><%= Time.now.strftime("%A")%>, </span><%= Time.now.strftime("%b %d")%></a></li><li><a class="button purple-background">Time of Day</a></li></ul>
			
		</div>

		<br>

		<div class="form-container medium card">
			
			<label>Where?</label>

			<%= f.text_field :address, placeholder:"Enter Your Address" %>
			
		</div>

		<br>

		<div class="form-container medium card">
			
			<label>Additional Details</label><br>

			<%= f.text_area :additional_information, placeholder: @additional_information_example_text  %>
			

		</div>

		<br>

		<div class="centered">
			<%= f.submit "Next", class:"button medium dark-red-background hide-on-mobile-device"%>

			<%= f.submit "Next", class:"button medium dark-red-background bottom-cta"%>
		</div>

	<%end%>

</div>
