<div class="full-screen-container">

	<div class="notice-header notice brand-yellow-background">

		<p>Service Request</p>

	</div>

	<div class="content medium">
		
		<%= form_for(@service_request) do |f| %>
			
			<%= render 'service_requests/details_where', f: f %>

			<%= render 'service_requests/details_payment', f: f %>

			<%= render 'service_requests/details_additional', f: f %>

			<%= f.hidden_field :is_live, :value => true, :id => "is_live" %>

			<%= f.hidden_field :service_category_id, :value => @service_category.id %>
			

		<%end%>

	</div>

</div>




<%# form_for(@service_request) do |f| %>
	
	<%# render 'service_requests/details_category', f: f %>
	<%# render 'service_requests/details_live', f: f %>
	<%# render 'service_requests/details_when', f: f %>
	<%# render 'service_requests/details_where', f: f %>
	<%# render 'service_requests/details_additional', f: f %>

<%#end%>
