<nav class="content-fixed-header material-box-shadow yellow-background">

	<ul class="horizontal spread">

		<li><a><span class="number-badge material-box-shadow">1</span> Task Details</a></li><li><a><span class="number-badge material-box-shadow">2</span> View Taskers & Prices</a></li><li><a><span class="number-badge material-box-shadow">3</span> Confirm & Book</a></li>

	</ul>

</nav>

<div class="content has_fixed_header">

	<%= form_for(@service_request) do |f| %>

		<header><%if @service_category %><%= @service_category.name %><%end%> Service Request</header>

		<%if @service_category%>

			<%= f.hidden_field :service_category_id, :value => @service_request.id %>

		<%else%>

			<div class="form-container medium">

				<label>Which Service?</label>

				<%= f.collection_select :service_category_id, ServiceCategory.all, :id, :name, :prompt=>"Select a Service"%>
			
			</div>

			<br>


		<%end%>

		<div class="form-container medium">

			<label>When?</label>

			<ul class="horizontal centered button-list spread"><li><a class="button purple-background">Today</a></li><li><a class="button purple-background">Tomorrow</a></li><li><a class="button purple-background">Other</a></li></ul>
			
		</div>

		<br>

		<div class="form-container medium">
			
			<label>Where?</label>

			<%= f.text_field :address, placeholder:"Enter Your Address" %>
			
		</div>

		<br>

		<div class="form-container medium">
			
			<label>Additional Details</label><br>

			<%= f.text_area :additional_information, placeholder: @additional_information_example_text  %>
			

		</div>

		<br>

		<div class="centered">
			<%= f.submit "Next", class:"button medium dark-red-background"%>
		</div>

	<%end%>

</div>
