<div class="content medium">
	<header>Where</header>
</div>


<% if user_signed_in? %>
	
	<% if current_user.address %>
		
		<%= form_for(@service_request) do |f| %>
			
			<%= f.text_field :address, value:current_user.address, class:"geocomplete-input address_input_for_embed" %>

		<%end%>

		<%= render :partial => 'maps/embed_map', :locals => {:latitude_input => current_user.latitude, :longitude_input => current_user.longitude} %>
	
	<%else%>

		<% unless session[:city].blank? %>

			<%= form_for(@service_request) do |f| %>
			
				<%= f.text_field :address, class:"geocomplete-input address_input_for_embed" %>

			<%end%>

			<%= render :partial => 'maps/embed_map', :locals => {:latitude_input => session[:latitude], :longitude_input => session[:longitude]} %>

		<%end%>


	<%end%>

<%else%>

	<% unless session[:city].blank? %>

		<%= form_for(@service_request) do |f| %>
			
			<%= f.text_field :address, class:"geocomplete-input address_input_for_embed" %>

		<%end%>

		<%= render :partial => 'maps/embed_map', :locals => {:latitude_input => session[:latitude], :longitude_input => session[:longitude]} %>

	<%end%>

<%end%>




<%= form_for(@service_request) do |f| %>
	
	<%= render 'service_requests/details_category', f: f %>
	<%= render 'service_requests/details_live', f: f %>
	<%= render 'service_requests/details_when', f: f %>
	<%= render 'service_requests/details_where', f: f %>
	<%= render 'service_requests/details_additional', f: f %>

<%end%>
