<div class="content">

  <div class="service-request-index card clear-on-mobile-device">
              
    <h3><%= @service_request.service_category.name %> Request</h3>

    <p class="right-corner"><%= @service_request.time_of_day %> of <%= @service_request.scheduled_day.strftime("%B %d") %></p>

    <p><%= @service_request.address %></p>

    <p>Status: <%= @service_request.status %></p>

    <p>Submitted <%= time_ago_in_words(@service_request.created_at) %> ago</p>


   <p>Additional Notes:<i> <%= @service_request.additional_information.first(20) %><% if @service_request.additional_information.length > 20 %>...<%end%></i></p>

    <ul class="horizontal spread button-list two"><li><a class="button yellow-background">Modify</a></li><li><a class="button dark-red-background">Cancel</a></li></ul>

  </div>


</div>
