<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service_category.description %>
</p>

<p>
  <strong>Parent Category ID</strong>
  <%= @service_category.parent_category_id %>
</p>

<p>
  <strong>Url name:</strong>
  <%= @service_category.url_name %>
</p>

<%= link_to 'Edit', edit_service_category_path(@service_category) %> |
<%= link_to 'Back', service_categories_path %>
