
<div class="dashboard-header material-box-shadow">

	<ul class="horizontal spread-on-mobile">

		<% if current_user.is_tasker %>

			<li><%= link_to "Home", root_path, class: cp(root_path) %></li><li><%= link_to "Live", live_path, class: cp(live_path) %></li><li><%= link_to "Tasks", requests_path, class: cp(requests_path) %></li>
		
		<%else%>
			
			<li><%= link_to "Home", root_path, class: cp(root_path) %></li><li><%= link_to "Requests", requests_path, class: cp(requests_path) %></li><li><a class="click-to-reveal cta" data-reveal-panel-id="service-request-when">Hire Someone</a></li>


		<%end%>

	</ul>
	
</div>

<div class="dashboard-header-offset">


</div>
