

<% unless current_user.service_requests.count > 0 %>
	
	<div class="top-of-page-message centered">
		
		<div class="top-of-page-message-overlay">

			<header><%= @top_of_page_message %></header>
			<br><br>
			<p>Save time for the things you love by instantly hiring a mobile professional in <% if session[:city].blank? %>your area<%else%><%= session[:city] %><%end%> to complete your tasks. Select what you want done below to get started.</p>

		</div>
		
	</div>


	<div class="content">

		<%= render :partial => 'service_categories/grid', :locals => {:service_categories => ServiceCategory.all.where(:parent_category_id => nil).take(6)} %>

	</div>

<%else%>
	
	<%= render 'users/dashboard_header' %>

	<div class="content">

		<% if current_user.active_task_for_non_tasker %>

			<header>Task Active Right Now</header>

			<%= render :partial => 'service_requests/index_show', :locals => {:request => current_user.active_task_for_non_tasker, :active => true} %>

			<br>
			<br>
			<br>

		<%end%>

		<div class="row">

			<header>Hire Someone Now</header>

			<div class="col-xs-12 col-sm-12">

				<%= render :partial => 'service_categories/grid', :locals => {:service_categories => ServiceCategory.all.where(:parent_category_id => nil).take(6)} %>

			</div>

			<br><br>

<!-- 			<div class="hidden-xs">

				<div class="card centered">

					<h3 class="centered"><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-right: 5px;"></span> My Location</h3>

					<div>

						<%# render :partial => 'maps/embed_map', :locals => {:latitude_input => current_user.latitude, :longitude_input => current_user.longitude} %>

					</div>

					<br><br>

					<%# form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>

						<%# f.text_field :address, placeholder:"Enter Your Address", class:"geocomplete-input clear-on-focus address_input_for_embed" %>
						
						<br>

						<%# f.submit "Update Location", class: "button stretch brand-blue-background" %>

					<%#end%>

				</div>

	

				<div class="card centered">

					<h3 class="centered"><span class="glyphicon glyphicon-usd" aria-hidden="true" style="margin-right: 5px;"></span> Payment Method</h3>

					<p>Card ending 1234</p>

					<br>

					<%# link_to "Change Payment Method", root_path, class:"button brand-blue-background stretch" %>

				</div>


			</div> -->

		</div>

	</div>

<%end%>


		


