

<%= render 'users/dashboard_header' %>

<div class="content with-fixed-header">

	<% if @default_dashboard %>

		<header class="centered">How Can We Help You Today?</header>

		<section class="content-section material-box-shadow white-background">

			<div class="content-column-container">
				
				<% ServiceCategory.last(3).each do |category| %>

					<%= link_to initiate_service_request_path(category.url_name) do %>

						<div class="content-column spread-box">
							
							<div class="spread-box">

								<div class="image-container">

									<div class="image-overlay">

										<h2><%= category.name%></h2>

									</div>

									<%= image_tag category.image.url(:medium), class:"material-box-shadow" %>

								</div>

							</div>

						</div>

					<%end%>

				<%end%>

			</div>

		</section>


		<section class="content-section material-box-shadow white-background">

			<header class="centered">How to Get Started</header>

			<div class="content-column-container">
				<div class="content-column"><span class="number-badge material-box-shadow yellow-background black-text">1</span></div>
				<div class="content-column">
					<h3>Pick a Service</h3>
					<p>Choose from our list of popular chores and errands below or <a href="#">see a list of all available services</a> (link).</p>
				</div>
			</div>

			<div class="content-column-container">
				
				<div class="content-column">
					<span class="number-badge material-box-shadow yellow-background black-text">2</span>
				</div>
				
				<div class="content-column">
					<h3>Get Matched</h3>
					<p>Some kind of service or something.</p>
				</div>

			</div>

			<div class="content-column-container">
				
				<div class="content-column"><span class="number-badge material-box-shadow yellow-background black-text">3</span></div>
				
				<div class="content-column">
					<h3>Get it Done</h3>
					<p>Some kind of service or something.</p>
				</div>

			</div>

		</section>

	<%else%>

		<div class="reveal-panel" id="home">
			
			<section class="content-section">

				<header class="centered">How Can We Help You Today?</header>

				<div class="content-column-container">
					
					<% ServiceCategory.last(3).each do |category| %>

						<%= link_to initiate_service_request_path(category.url_name) do %>

							<div class="content-column spread-box">
								
								<div class="spread-box">

									<div class="image-container">

										<div class="image-overlay">

											<h2><%= category.name%></h2>

										</div>

										<%= image_tag category.image.url(:medium), class:"material-box-shadow" %>

									</div>

								</div>

							</div>

						<%end%>

					<%end%>

				</div>

			</section>

		</div>
		
		<div class="reveal-panel" id="my-requests" style="display: none;">
			
			<section class="content-section">

				<header>My Requests <span class="full-screen-only" style="float: right; display: inline-block;"><%= link_to "Hire Someone", service_category_formatted_index_path, class: "button green-background full-screen-only medium" %></span></header>

				<% current_user.service_requests.each do |request| %>
					
					<%= link_to show_service_request_path(request.id) do %>
						
						<div class="service-request-index card">
							
							<h3><%= request.service_category.name %> Request</h3>

							<p class="right-corner">Morning of 2/22</p>

							<p>616 N. 7th St. (St. Louis.)</p>

							<p>Status: </p>

			
						</div>

					<%end%>

				<%end%>

			</section>

		</div>

		<div class="reveal-panel" id="messages" style="display: none;">
			
			<section class="content-section">

				<header>Messages</header>
				</header>

			</section>

		</div>

	<%end%>

</div>