
<%= render 'users/dashboard_header' %>

<div class="full-screen-content">

	<div class="content with-fixed-header">

		<% unless current_user.service_requests.count > 0 %>
		
			<header>Get Started</header>

			<div class="row">

				<div class="col-xs-12 col-sm-12">

					<div class="card">

						<span class="glyphicon glyphicon-exclamation-sign card-alert" aria-hidden="true"></span>

						<form>
							  	
						  	<label>Set Your Location</label><br>

						  	<div class="row">

								<div class="col-xs-12 col-sm-8">

								  	<input type="text" placeholder="Your Address" class:"geocomplete-input"></input>

								</div>

								<div class="col-xs-12 col-sm-4">
									<a class="button blue-background stretch" style="margin-top: 0.5em;">Set Location</a>

								</div>

							</div>

						</form>

					</div>

				</div>

				<div class="col-xs-12 col-sm-6">

					<div class="card">

						<span class="glyphicon glyphicon-exclamation-sign card-alert" aria-hidden="true"></span>

						<div class="field">

							<label>Set a Payment Method</label><br>

							<a class="button orange-background stretch">Set a Payment Method</a>

						</div>

					</div>

				</div>

				<div class="col-xs-12 col-sm-6">

					<div class="card">

						<span class="glyphicon glyphicon-exclamation-sign card-alert" aria-hidden="true"></span>

						<label>Popular Service Categories</label>

						<%= link_to "Add Services", add_service_to_user_path, class:"button orange-background stretch"%>

					</div>

				</div>

			</div>

		<%else%>

			<header>How Can We Help Today?</header>

			<div class="row">

				<div class="col-xs-12 col-sm-7">

					<%= render :partial => 'service_categories/grid', :locals => {:service_categories => ServiceCategory.all.take(4)} %>


				</div>

				<br>

				<div class="col-xs-12 col-sm-5">
					
					<div class="row">

						<div class="col-xs-12 col-sm-12">

							<div class="card centered">

								<h3 class="centered"><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-right: 5px;"></span> My Location</h3>

								<p><%= current_user.address %></p>

								<br>

								<%= link_to "Update Location", root_path, class:"button brand-blue-background stretch" %>

							</div>

							<br>

						</div>


						<div class="col-xs-12 col-sm-12">

							<div class="card centered">

								<h3 class="centered"><span class="glyphicon glyphicon-usd" aria-hidden="true" style="margin-right: 5px;"></span> Payment Method</h3>

								<p>Card ending 1234</p>

								<br>

								<%= link_to "Change Payment Method", root_path, class:"button brand-blue-background stretch" %>

			

							</div>

						</div>

					</div>

				</div>

				

			</div>


		<%end%>

	</div>

</div>