
<%= render 'users/dashboard_header' %>

<div class="full-screen-content">

	<div class="content">

		<% unless current_user.service_requests.count > 0 %>
		
			<header>We Need Some More Information Before You Get Started</header>

			<div class="row">

				<div class="col-xs-12 col-sm-6">

					<div class="card">

						<h3><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-right: 5px;"></span> Set Your Location</h3><span class="glyphicon glyphicon-exclamation-sign card-alert" aria-hidden="true"></span>

						<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>

							<%= f.text_field :address, placeholder:"Enter Your Address", class:"geocomplete-input clear-on-focus address_input_for_embed" %>
							
							<br>

							<%= f.submit "Update Location", class: "button stretch brand-blue-background" %>

						<%end%>

					</div>

				</div>

				<div class="col-xs-12 col-sm-6">

					<div class="card">

						<h3><span class="glyphicon glyphicon-credit-card" aria-hidden="true" style="margin-right: 5px;"></span> Set a Payment Method</h3><span class="glyphicon glyphicon-exclamation-sign card-alert" aria-hidden="true"></span>

						<div class="field">

							<a class="button orange-background stretch">Set a Payment Method</a>

						</div>

					</div>

				</div>

			</div>

		<%else%>

			<div class="row">

				<div class="col-xs-12 col-md-7">

<!-- 					<%# if current_user.outstanding_live_requests %>

						<header>Oustanding Service Requests</header>

						<%# current_user.outstanding_live_requests.each do |request| %>
						
							<%# link_to request do %>
								
								<div class="card index">
									
									<p><span class="glyphicon glyphicon-exclamation-sign"></span>Your <%# request.service_category.name %> Request <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float: right"></span></p>
									
								</div>

							<%#end%>

						<%#end%>

						<br><br>
						
					<%#end%> -->

					<header>How Can We Help Today?</header>

					<%= render :partial => 'service_categories/grid', :locals => {:service_categories => ServiceCategory.all.where(:parent_category_id => nil).take(4)} %>


				</div>

				<br><br>

				<div class="col-xs-12 col-md-5">
					
					<div class="row">

						<div class="col-xs-12 col-sm-12">

							<div class="card centered">

								<h3 class="centered"><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-right: 5px;"></span> My Location</h3>

								<div>

									<%= render :partial => 'maps/embed_map', :locals => {:latitude_input => current_user.latitude, :longitude_input => current_user.longitude} %>

								</div>

								<br><br>

								<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>

									<%= f.text_field :address, placeholder:"Enter Your Address", class:"geocomplete-input clear-on-focus address_input_for_embed" %>
									
									<br>

									<%= f.submit "Update Location", class: "button stretch brand-blue-background" %>

								<%end%>

							</div>

							<br>

						</div>


						<div class="col-xs-12 col-sm-12">

							<div class="card centered">

								<h3 class="centered"><span class="glyphicon glyphicon-usd" aria-hidden="true" style="margin-right: 5px;"></span> Payment Method</h3>

								<p>Card ending 1234</p>

								<br>

								<%= link_to "Change Payment Method", root_path, class:"button brand-blue-background stretch" %>

			

							</div>

						</div>

					</div>

				</div>

				

			</div>


		<%end%>

	</div>

</div>