
<%= render 'users/dashboard_header' %>



<div class="full-screen-content">

	<div class="content with-fixed-header">

		<header>Update your profile before getting started</header>

		<div class="row">

			<div class="col-xs-12 col-sm-6">

				<div class="card">

					<div class="field">

						<label>Upload a Photo of Yourself</label><br>

						<div class="image-field-container">

							<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>

								<%= image_tag current_user.image.url(:small), class:"small-image rounded" %>

								<%= f.file_field :image, class: "small-image-overlay-input" %><br><br>



							<%end%>

						</div>

						<a class="button orange-background stretch" style="margin-top: 0.5em;">Upload Photo</a>

					</div>

				</div>

			</div>

			<div class="col-xs-12 col-sm-6">

				<div class="card">

					<label>Add Services to Your Profile</label>

					<br>

					<%= link_to "Add Services", add_service_to_user_path, class:"button orange-background stretch"%>

				</div>

			</div>


			<div class="col-xs-12 col-sm-12">

				<div class="card">

					<form>
						  	
					  	<label>Update Your Address</label><br>

					  	<div class="row">

							<div class="col-xs-12 col-sm-8">

							  	<input type="text" placeholder="Update Address" class:"geocomplete-input"></input>

							</div>

							<div class="col-xs-12 col-sm-4">
								<a class="button orange-background stretch" style="margin-top: 0.5em;">Update</a>

							</div>

						</div>

					</form>

				</div>

			</div>

		</div>

	</div>

</div>