

<% unless current_user.has_tasker_basics %>
	
	<div class="top-of-page-message centered">
		
		<div class="top-of-page-message-overlay">

			<header>Welcome to Servmanity, <%= current_user.first_name %>.</header>

			<br><br>
			
			<p>Please provide your address and a photo to get started.</p>

		</div>
		
	</div>

	<div class="content">

		<div class="row">

			<div class="col-xs-12 col-sm-12">

				<div class="card">

					<span class="glyphicon glyphicon-exclamation-sign card-alert" aria-hidden="true"></span>

					<form>
						  	
					  	<label>Update Your Address</label><br>

					  	<div class="row">

							<div class="col-xs-12 col-sm-8">

							  	<input type="text" placeholder="Update Address" class="geocomplete-input"></input>

							</div>

							<div class="col-xs-12 col-sm-4">
								<a class="button brand-blue-background stretch" style="margin-top: 0.5em;">Update</a>

							</div>

						</div>

					</form>

				</div>

			</div>

			<div class="col-xs-12 col-sm-6">

				<div class="card">

					<span class="glyphicon glyphicon-exclamation-sign card-alert" aria-hidden="true"></span>

					<div class="field">

						<label>Upload a Photo of Yourself</label><br>

						<a class="button orange-background stretch">Upload Photo</a>

					</div>

				</div>

			</div>

<!-- 				<div class="col-xs-12 col-sm-6">

				<div class="card">

					<span class="glyphicon glyphicon-exclamation-sign card-alert" aria-hidden="true"></span>

					<label>Add Services to Your Profile</label>

					<%# link_to "Add Services", add_service_to_user_path, class:"button brand-blue-background stretch"%>

				</div>

			</div> -->

		</div>

	</div>

<%else%>

	<%= render 'users/dashboard_header' %>

	<div class="content">

		<% if current_user.active_task_for_tasker %>

			<header>Active Task</header>

			<%= render :partial => 'service_requests/index_show', :locals => {:request => current_user.active_task_for_tasker, :active => true} %>

			<br>
			<br>

		<%end%>


		<header>Dashboard</header>

		<div class="row">

			<div class="col-xs-12 col-sm-7">

				<%= link_to live_path do %>
					
					<div class="card index">
						
						<p><span class="glyphicon glyphicon-exclamation-sign"></span><%= current_user.live_requests_for_tasker.count %> Requests You Can Accept Right Now<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float: right"></span></p>
						
					</div>

				<%end%>
				

<!-- 					<%# link_to requests_path do %>
					
					<div class="card index">
						
						<p><span class="glyphicon glyphicon-exclamation-sign"></span>You have 1 New Scheduled Task <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float: right"></span></p>
						
					</div>

				<%#end%>

				<%# link_to requests_path do %>
					
					<div class="card index">
						
						<p><span class="glyphicon glyphicon-time" aria-hidden="true"></span>You have 3 Tasks in the next 24 hours <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float: right"></span></p>
						
					</div>

				<%#end%> -->

				<%= link_to balance_path do %>
					
					<div class="card index">
						
						<p><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> You have a balance of $99.00 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float: right"></span></p>

					</div>

				<%end%>

				<br>
				
			</div>

			<div class="col-xs-12 col-sm-5">

				<div class="card centered">

					<h3 class="centered"><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-right: 5px;"></span> My Location</h3>

					<div>

						<%= render :partial => 'maps/embed_map', :locals => {:latitude_input => current_user.latitude, :longitude_input => current_user.longitude} %>

					</div>

					<br><br>

					<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>

						<%= f.text_field :address, placeholder:"Enter Your Address", class:"geocomplete-input clear-on-focus address_input_for_embed" %>
						
						<br>

						<%= f.submit "Update Location", class: "button stretch brand-blue-background" %>

					<%end%>

				</div>

				<br>


					<!-- <div class="col-xs-12 col-sm-12">

						<%# render 'users/schedule_card' %>

					</div> -->

			</div>

		</div>

	</div>

<%end%>

