<div class="content">

	<header>Profile Settings</header>

	<div class="options-content-container">


		<div class="options-sidebar">
			<ul>
				<li><a class="click-to-reveal" data-reveal-panel-id="profile">Profile</a></li>
				<li><a class="click-to-reveal" data-reveal-panel-id="login">Login</a></li>
				<li><a class="click-to-reveal" data-reveal-panel-id="payments">Payments</a></li>
				

			</ul>
		</div>


		<div class="options-content">

			<div class="reveal-panel" id="profile">

				<header>Profile</header>
				
				<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>

					<div class="field">

					  	<%= f.text_field :first_name, placeholder: "First Name", :required => true %>
					
					</div>


					<div class="field">

						<%= f.text_field :last_name, placeholder: "Last Name", :required => true %>

					</div>


					<div class="actions">
					
						<%= f.submit "Update Profile", class: "button medium dark-red-background" %>
					
					</div>

				<%end%>

			</div>

			<div class="reveal-panel" id="login" style="display: none;">

				<header>Login</header>
				
				<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>

					<div class="field">
						
						<label>First Name</label><br>

					  	<%= f.text_field :first_name, placeholder: "First Name", :required => true %>
					
					</div>


					<div class="field">

						<label>Last Name</label><br>

						<%= f.text_field :last_name, placeholder: "Last Name", :required => true %>

					</div>


					<div class="actions">
					
						<%= f.submit "Update Profile", class: "button medium dark-red-background" %>
					
					</div>

				<%end%>

			</div>

			<div class="reveal-panel" id="payments" style="display: none;">

				<header>Payments</header>
				
				<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>

					<div class="field">

						<label>First Name</label><br>
						
					  	<%= f.text_field :first_name, placeholder: "First Name", :required => true %>
					
					</div>


					<div class="field">

						<%= f.text_field :last_name, placeholder: "Last Name", :required => true %>

					</div>


					<div class="actions">
					
						<%= f.submit "Update Profile", class: "button medium dark-red-background" %>
					
					</div>

				<%end%>

			</div>

		</div>


	</div>

</div>