<div class="content">

	<header>Account Settings</header>

	<div class="options-content-container">


		<div class="options-sidebar">
			<ul>
				<li><a class="click-to-reveal active" data-reveal-panel-id="login">Login</a></li>
				<li><a class="click-to-reveal" data-reveal-panel-id="profile">Personal</a></li>
				<li><a class="click-to-reveal" data-reveal-panel-id="payments">Payments</a></li>
				

			</ul>
		</div>


		<div class="options-content">

			<div class="reveal-panel" id="login">

				<header>Login</header>

				<div class="option-content-box">
				
					<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>


						<div class="field">
		  					
		  					<label>Email</label><br>

						  	<%= f.email_field :email, placeholder: "Email", :required => true %>

						</div>

						<div class="field">
							
							<label>Password</label><br>

						  	<%= f.password_field :password, autocomplete: "off", placeholder: "Password", :required => true %>

						</div>



						<div class="actions">
							<br>
							<%= f.submit "Update", class: "button small dark-red-background" %>
						
						</div>

					<%end%>

				</div>

			</div>

			<div class="reveal-panel" id="profile" style="display: none;">

				<header>Personal Information</header>

				<div class="option-content-box">

					<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>



						<div class="field">

					      <label>Profile Photo</label><br>

					      <div class="image-field-container">
					        
					        <%= image_tag current_user.image.url(:small), class:"small-image rounded" %>

					        <%= f.file_field :image, class: "small-image-overlay-input" %><br><br>

					      </div>

					    </div>


						<div class="field">

							<label>First Name</label><br>

						  	<%= f.text_field :first_name, placeholder: "First Name", :required => true %><br>
						
						</div>


						<div class="field">

							<label>Last Name</label><br>

							<%= f.text_field :last_name, placeholder: "Last Name", :required => true %><br>

						</div>

						<div class="field">
		  					
		  					<label>Phone Number</label><br>

						  	<%= f.text_field :phone_number, placeholder: "Phone Number", :required => true %>

						</div>


						<div class="field">
						  	
						  	<label>Zip Code</label><br>

							<%= f.text_field :zip_code, placeholder: "Zip Code", :required => true %>

						</div>




						<div class="button-container">
							<br>
							<%= f.submit "Update", class: "button small dark-red-background" %>
						
						</div>

					<%end%>

				</div>

			</div>

			<div class="reveal-panel" id="payments" style="display: none;">

				<header>Payments</header>

				<div class="option-content-box">
				
					<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>

						<div class="field">

							<label>First Name</label><br>

						  	<%= f.text_field :first_name, placeholder: "First Name", :required => true %>
						
						</div>


						<div class="field">

							<%= f.text_field :last_name, placeholder: "Last Name", :required => true %>

						</div>


						<div class="actions">
							<br>
							<%= f.submit "Update", class: "button small dark-red-background" %>
						
						</div>

					<%end%>

				</div>

			</div>

		</div>

	</div>

</div>