<div class="content">
	
	<header>Balance</header>
	
	<div class="row">

		<div class="col-xs-12 col-sm-4">

			<div class="card centered">

				<h3 class="centered small-section-header">Available Balance</h3>

				<div class="card-content">

					<span class="big-balance"><%= number_to_currency(current_user.stripe_balance, precision: 0) %></span>

					<!-- <br><br> -->

					<%# link_to "Balance History", root_path, class:"button orange-background stretch" %>

				</div>
				
			</div>

		</div>

		<div class="col-xs-12 col-sm-4">
			
			<div class="card centered">
				
				<h3 class="centered small-section-header">Next Payment Date</h3>

				<div class="card-content">

					<span class="big-date"><%= Date.today.strftime("%b %e")%></span>

					<!-- <br><br> -->

					<%# link_to "Payment Schedule", root_path, class:"button orange-background stretch" %> 

				</div>
				
			</div>

		</div>

		<div class="col-xs-12 col-sm-4">

			<div class="card centered">

				<h3 class="centered small-section-header">Bank Account Information</h3>

				<div class="card-content">

					<% if @bank_accounts.count > 0 %>
						
						<% @bank_accounts.each do |bank_account| %>
							
							<span class="payee-information"><%= bank_account.account_holder_name %></span>
							
							<br>

							<span class="payee-information"><%= bank_account.bank_name %></span>
							
							<br>

							<span class="payee-information">Account Ending <%= bank_account.last4 %></span>

						<%end%>

						<br><br>

						<a class="click-to-reveal button orange-background stretch" data-reveal-panel-id="bank-account-form-modal">Update Bank Account</a>
					
					<% else %>

						<span class="big-date">N/A</span>

						<br><br>

						<a class="modal-cta button orange-background stretch" data-modal-id="bank-account-form-modal">Add a Bank Account</a>


					<% end %>
					
				</div>
				
			</div>

		</div>

	</div>

</div>

