<div class="content">
	
	<header>Balance</header>
	
	<div class="row">

		<div class="col-sm-12 col-md-4">

			<div class="card centered">

				<h3 class="centered small-section-header">Available Balance</h3>

				<div class="card-content">

					<span class="big-balance"><%= number_to_currency(current_user.stripe_balance) %></span>

					<br><br>

					<%= link_to "Balance History", root_path, class:"button orange-background stretch" %>

				</div>
				
			</div>

		</div>

		<div class="col-sm-12 col-md-4">
			
			<div class="card centered">
				
				<h3 class="centered small-section-header">Next Payment Date</h3>

				<div class="card-content">

					<span class="big-date"><%= Date.today.strftime("%b %e")%></span>

					<br><br>

					<%= link_to "Payment Schedule", root_path, class:"button orange-background stretch" %> 

				</div>
				
			</div>

		</div>

		<div class="col-sm-12 col-md-4">

			<div class="card centered">

				<h3 class="centered small-section-header">Payee Information</h3>

				<div class="card-content">

					<span class="payee-information"><%= current_user.first_name %></span>
					
					<br>

					<span class="payee-information">Account Ending 6882</span>

					<br><br>

					<%= link_to "Edit Payee", root_path, class:"button orange-background stretch" %>

				</div>
				
			</div>

		</div>

	</div>

	<section class="content-section">

		

	</section>

</div>