<div class="content">
	
	<header>Balance</header>
	
	<div class="row">

		<div class="col-xs-12 col-sm-4">

			<div class="card centered">

				<h3 class="centered small-section-header">Available Balance</h3>

				<div class="card-content">

					<span class="big-balance"><%= number_to_currency(current_user.stripe_balance, precision: 0) %></span>

					<br><br>

					<%= link_to "Balance History", root_path, class:"button orange-background stretch" %>

				</div>
				
			</div>

		</div>

		<div class="col-xs-12 col-sm-4">
			
			<div class="card centered">
				
				<h3 class="centered small-section-header">Next Payment Date</h3>

				<div class="card-content">

					<span class="big-date"><%= Date.today.strftime("%b %e")%></span>

					<br><br>

					<%= link_to "Payment Schedule", root_path, class:"button orange-background stretch" %> 

				</div>
				
			</div>

		</div>

		<div class="col-xs-12 col-sm-4">

			<div class="card centered">

				<h3 class="centered small-section-header">Payee Information</h3>

				<div class="card-content">

					<% if @bank_accounts.count > 0 %>
						
						<% @bank_accounts.each do |account| %>
							
							<span class="payee-information"><%= current_user.first_name %></span>
							
							<br>

							<span class="payee-information">Account Ending <%= account.last_4 %></span>

						<%end%>

						<br><br>

						<%= link_to "Edit Payee", root_path, class:"button orange-background stretch" %>
					
					<% else %>

						<%= link_to "Add a Bank Account", root_path, class:"button dark-red-background stretch" %>


					<% end %>
					
				</div>
				
			</div>

		</div>

	</div>

	<section class="content-section">

		

	</section>

</div>