<%= render 'users/dashboard_header' %>

<div class="content">

	<div class="row">

		<header>Live Request Feed</header>

		<div class="col-xs-12">

			<% @service_requests.each do |request| %>
				
				<%= link_to show_service_request_path(request.id) do %>
					
					<div class="service-request-index card index">

						<h3><%= request.description %></h3>

						<div class="row">

							<div class="col-xs-12 col-sm-6">

								<%= request.service_category.name %> task
								<br>
								Submitted <%= time_ago_in_words(request.created_at) + " ago" %>
								<%# request.address %>
								<br>
								Additional Details: "<%= request.additional_information %>"
								<%# task_status_tag(request) %>
								<br>

								<% if request.latitude && request.longitude %>
								<%= current_user.distance_to_destination(request.latitude, request.longitude).round(1).to_s + " miles away" %>
								<%end%>

							</div>

							<div class="col-xs-12 col-sm-6">

								

							</div>

						</div>	

					</div>

				<%end%>

			<%end%>

		</div>

	</div>

</div>