<% if flash[:message_at_top] %>

	<div class="message-at-top notice brand-yellow-background">

		<p><%= flash[:message_at_top] %></p>

	</div>

	<div class="message-at-top-offset">

	</div>

<%end%>

<%if flash[:error] %>
	
	<div class="flash-notice error">

		<%= flash[:error] %>

	</div>

<% elsif flash[:notice] %>
				
	<div class="flash-notice">

		<%= flash[:notice] %>

	</div>
			
<%end%>

<div class="content">

	<div class="centered">
		<%= image_tag("logo_vector.png") %>
	</div>

	<h1 class="centered black-text"><b>SERVMANITY</b></h1>


	<div class="form-container medium clear">

		<%= form_for(:user, :url => registration_path(:user)) do |f| %>

			<div class="field">
			  
			  <label>First Name</label>
			  <br>

			  <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", :required => true %>

			</div>

			<div class="field">
			  <label>Email</label>
			  <br>
			  <%= f.email_field :email, placeholder: "Email", :required => true %>
			</div>

			<div class="field">
			  <label>Password</label>
			  <br>
			  <%= f.password_field :password, autocomplete: "off", placeholder: "Password", required: true, :required => true %>
			</div>

			<div class="actions">
			  <%= f.submit "Signup", class: "button medium brand-blue-background" %>
			</div>

			<br>
			<div>By signing up you agree to our <%= link_to "Terms of Service", terms_of_service_path,  target: :_blank %> and <%= link_to "Privacy Policy", privacy_policy_path,  target: :_blank %>.</div>

		<% end %>

	</div>

	<p class="centered"><%= link_to "Already have an account? Login", login_path %></p>

</div>