<section class="profile-header black-background">

	<div class="profile-header-content">

		<%= image_tag current_user.image.url(:medium), class:"medium-image rounded white-border" %>

		<header><%= current_user.first_name + " " + current_user.last_name.first(1) + "."%></header>

		<p>Last Online: <%= time_ago_in_words(current_user.last_seen_at) %> ago</p>

		<p>100% Approval Rating</p>

		<p>Hourly Rates or something</p>

	</div>

	<nav class="profile-header-nav material-box-shadow">
		
		<div class="profile-header-nav-content">
			<ul class="horizontal">
				<li><a class="active clickable click-to-reveal" data-reveal-panel-id="hire-me">Hire Me</a></li><li><a class="clickable click-to-reveal" data-reveal-panel-id="reviews">Reviews</a></li><li><a class="clickable click-to-reveal" data-reveal-panel-id="about-me">About Me</a></li>
			</ul>
		</div>

	</nav>

</section>

<section class="content">

	<div class="reveal-panel" id="hire-me">

		<% @user.user_service_categories.each do |category| %>
			
			<section class="profile-content">

				<div class="main-profile-content">
					
					<h2><%= category.service_category.name %></h2>

					<p><%= category.description %></p>

				</div>

				<div class="side-profile-content">
					
					<a class="button green-background medium" href="<%= initiate_service_request_path(category.service_category.url_name) %>">Hire Me for <%= number_to_currency(category.hourly_rate, precision: 0) %>/Hour</a>

				</div>

			</section>

		<%end%>

	</div>

	<div class="reveal-panel" id="reviews" style="display:none;">

		<h2>Reviews</h2>

	</div>

	<div class="reveal-panel" id="about-me" style="display:none;">

		<h2>About me:</h2>

		<p>I've been a mobile professional <b><%= current_user.member_since_string %>.</b></p>

		<p>I've completed [300 jobs]</p>

		<p>I respond [quickly]</p>

		<br>

		<h2>Why I'm a Great Professional</h2>

		<p><b>I'm the right person for your job because...</b></p>
		<p>I respond [quickly]</p>

		<p><b>When I'm not Working...</b></p>
		<p>I respond [quickly]</p>

		<p><b>When I'm working I always make sure to...</b></p>
		<p>I respond [quickly]</p>

	</div>

</section>