<%= render 'users/dashboard_header' %>

<div class="content">

	<% if current_user.is_tasker %>

		<header>My Tasks</header>

	<%else%>

		<header>My Requests</header>

	<%end%>
		
	<section class="content-section">

		<div class="row">

			<div class="col-xs-12 col-sm-8">

				<% @service_requests.each do |request| %>
					
					<%= link_to show_service_request_path(request.id) do %>
						
						<div class="service-request-index card index">
							
							<%if request.service_category %>
								<h3><%= request.service_category.name %> Job</h3>
							<%end%>

							<span class="right-corner-price">$24</span>

							<div class="row">

								<div class="col-xs-12 col-sm-6">

									<%= request_time_and_date(request) %>
									<br>
									<%= request.address %>
									<br>
									<%= task_status_tag(request) %>

								</div>

								<div class="col-xs-12 col-sm-6">

									

								</div>

							</div>	

						</div>

					<%end%>

				<%end%>

			</div>

			<div class="hidden-xs col-sm-4">

				<div class="card">

					<h3 class="centered">Earn More Money</h3>

					<%= link_to "Add More Services", add_service_to_user_path, class:"button money-green-background stretch"%>

					<br><br>

					<%= link_to "Increase Your Availability", add_service_to_user_path, class:"button money-green-background stretch"%>

					<br><br>

					<%= link_to "Try Servmanity Live", add_service_to_user_path, class:"button money-green-background stretch" %>

				</div>

			</div>


		</div>

	</section>

</div>