<%= render 'users/dashboard_header' %>

<div class="content with-fixed-header">

	<header>My Tasks</header>
		
	<section class="content-section">

		<% @service_requests.each do |request| %>
			
			<%= link_to show_service_request_path(request.id) do %>
				
				<div class="service-request-index card">

					<div class="row">

						<div class="col-xs-12 col-sm-6">

							<h3><%= request.service_category.name %> Request</h3>

						</div>

						<div class="col-xs-12 col-sm-6">

							<p>Status: <%= request.status %></p>

						</div>

					</div>	

					<div class="row">

						<div class="col-xs-12 col-sm-10">

							<h3><%= request.service_category.name %> Request</h3>

						</div>

						<div class="col-xs-12 col-sm-2">

							<p>Status: <%= request.status %></p>
							
						</div>



					</div>
					

				</div>

			<%end%>

		<%end%>

	</section>

</div>