<section class="home-hero">

	<div class="home-hero-overlay">

		<div class="home-hero-content">
			
			<header>We Do Chores.<br>You Live Life.</header>

			<br><br>
			
			<%= link_to "Get Started", signup_path, class:"button purple-background medium" %>

		</div>

	</div>

</section>


<section class="home-about">

	<div class="home-about-content">
		
		<header class="section-header">How Can We Help You?</header>

		<section>

			<%= link_to root_path do %>

				<div class="material-box-shadow white-background clickable">

					<div class="image-container">


					</div>

					<header>Car Repair</header>

					<p>$78/hour & Up</p>

				</div>

			<%end%>

			

		</section>

		<section>

			<%= link_to root_path do %>

				<div class="material-box-shadow white-background clickable">

					<div class="image-container">


					</div>

					<header>General Handyman</header>

					<p>$28/hour & Up</p>

				</div>

			<%end%>

		</section>

		<section>

			<%= link_to root_path do %>
				
				<div class="material-box-shadow white-background clickable">

					<div class="image-container">


					</div>

					<header>Delivery</header>

					<p>$25/hour & Up</p>

				</div>

			<%end%>

		</section>

		<%= link_to "See All Categories", root_path %>

	</div>

</section>



<section class="home-about dark-grey-background">

	<div class="home-about-content">
		
		<header class="section-header">How it Works</header>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">1</span>

			<br>

			<header>Pick a Task</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, lorem eget molestie dapibus, eros leo hendrerit ante, sit amet blandit dolor risus id mi.</p>

		</section>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">2</span>

			<br>
			
			<header>Get Matched</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, lorem eget molestie dapibus, eros leo hendrerit ante, sit amet blandit dolor risus id mi.</p>

		</section>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">3</span>

			<br>
			
			<header>Get it Done</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, lorem eget molestie dapibus, eros leo hendrerit ante, sit amet blandit dolor risus id mi.</p>

		</section>

		<br><br>
		<%= link_to "Create an Account", signup_path, class:"button purple-background medium" %>

	</div>

</section>



<section class="home-about">

	<div class="home-about-content">
		
		<header class="section-header">Reliable, Professional Service Gauranteed</header>

	</div>

</section>

