<section class="home-hero">

	<div class="home-hero-overlay">

		<div class="home-hero-content">
			
			<header>We Do Chores.<br>You Live Life.</header>

			<br><br>
			
			<%= link_to "Get Started", signup_path, class:"button purple-background medium" %>

		</div>

	</div>

</section>


<section class="home-about">

	<header class="section-header">How Can We Help You Today?</header>

	<div class="home-about-content">

		<div class="content">

			<div class="content-column-container">
				
				<% ServiceCategory.last(3).each do |category| %>

					<%= link_to service_category_home_path(category.url_name) do %>

						<div class="content-column spread-box">
							
							<div class="spread-box">

								<div class="image-container">

									<div class="image-overlay">

										<h2><%= category.name%></h2>

									</div>

									<%= image_tag category.image.url(:medium), class:"material-box-shadow" %>

								</div>

							</div>

						</div>

					<%end%>

				<%end%>

				</div>

			</div>
			
		</div>

	</div>

</section>



<section class="home-about dark-grey-background">

	<div class="home-about-content">
		
		<header class="section-header">How it Works</header>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">1</span>

			<br>

			<header>Pick a Task</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, lorem eget molestie dapibus, eros leo hendrerit ante, sit amet blandit dolor risus id mi.</p>

		</section>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">2</span>

			<br>
			
			<header>Get Matched</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, lorem eget molestie dapibus, eros leo hendrerit ante, sit amet blandit dolor risus id mi.</p>

		</section>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">3</span>

			<br>
			
			<header>Get it Done</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, lorem eget molestie dapibus, eros leo hendrerit ante, sit amet blandit dolor risus id mi.</p>

		</section>

		<br><br>
		<%= link_to "Create an Account", signup_path, class:"button purple-background medium" %>

	</div>

</section>



<section class="home-about">

	<div class="home-about-content">
		
		<header class="section-header">Reliable, Professional Service Gauranteed</header>

	</div>

</section>

