<div class="static-page-header">

	<div class="static-page-header-overlay">
		
		<div class="static-page-header-content">

			<h1>About Servmanity</h1>

		</div>

	</div>

</div>

<div class="content static-page centered">

	<section>
		
		<header>Servmanity</header>

		<p>Servmanity is a startup with an audacious goal to redefine how ... get household work done. Servmanity provides ... to ability to hire qualified mobile professionals to assist with household projects in real-time. </p>

	</section>

	<br>

	<section>

		<header>Our Team</header>

		<div class="row">

			<div class="col-xs-12">

				<%= image_tag 'missing_person_photo.png', class:"about-photo" %>

				<h3>Cliff Lawton</h3>
				<h4>Founder, CEO</h4>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">

				<%= image_tag 'missing_person_photo.png', class:"about-photo" %>

				<h3>Ray Brickhouse</h3>
				<h4>Founder</h4>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">

				<%= image_tag 'missing_person_photo.png', class:"about-photo" %>

				<h3>Richard Davie, Jr.</h3>
				<h4>Founder</h4>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">

				<%= image_tag 'missing_person_photo.png', class:"about-photo" %>

				<h3>Tee</h3>
				<h4>Founder</h4>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">

				<%= image_tag 'missing_person_photo.png', class:"about-photo" %>

				<h3>Francis .. </h3>
				<h4>Founder</h4>

			</div>

		</div>

	</section>

</div>



