<h1 class="centered light-text-shadow"><span class="brand-blue">SERV</span><span class="brand-yellow">MANITY</span></h1>


<div class="form-container medium clear">

	<%= form_for(:user, :url => registration_path(:user)) do |f| %>

		<div class="field">
		  <label>Email</label>
		  <br>
		  <%= f.email_field :email, autofocus: true, placeholder: "Email", :required => true %>
		</div>

		<div class="field">
		  <label>Password</label>
		  <br>
		  <%= f.password_field :password, autocomplete: "off", placeholder: "Password", required: true, :required => true %>
		</div>

		<div class="actions">
		  <%= f.submit "Signup", class: "button medium dark-red-background" %>
		</div>

	<% end %>

</div>

<p class="centered"><%= link_to "Login", login_path %></p>