

<nav class="header-container">

	<div class="header-content">

		<div class="header-options left">

			<ul class="horizontal">

				<!-- <li><a class="logo"><div class="header-logo"></div></a></li> -->

				<li><%= link_to "Home", root_path %></li>

			</ul>

		</div>


		<div class="header-options right">


			<ul class="horizontal">

				<% unless user_signed_in?%>

					<li><%= link_to "Login", login_path %></li>

					<li><%= link_to "How it Works", root_path %></li>

					<li><%= link_to "Signup", signup_path, class:'signup-cta' %></li>

				<%else%>

					<li><%= link_to "Account", root_path %></li>

					<li><%= link_to "How it Works", root_path %></li>

					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

					
				<%end%>

			</ul>

		</div>

	</div>

</nav>