

<nav class="header-container">

	<div class="header-content">

		<div class="header-options left">

			<ul class="horizontal">

				<!-- <li><a class="logo"><div class="header-logo"></div></a></li> -->

				<span class="mobile-only">

					<% if @hide_return_to_home %>

						<!-- <li><a class="cheeseburger-container modal-cta" data-modal-id="main-menu"><span class="cheeseburger"></span></a></li> -->

						<li><a class="logo" href="<%= root_path %>"><!-- <span aria-hidden="true" class="glyphicon glyphicon-home" style="margin-right:15px;"></span> --><span class="brand-yellow">SERVMANITY</span></a></li>

					<%else%>

						<li><a class="big-glyph" href="<%= root_path %>"><span class="glyphicon glyphicon-arrow-left"></span></a></li>

						<li><a class="nav-title"><%= @navigation_title %></a></li>

					<%end%>

				</span>

				<span class="full-screen-only">
					<li><a class="logo" href="<%= root_path %>"><span class="brand-yellow">SERVMANITY</span></a></li>
				</span>

			</ul>

		</div>

		<div class="header-options right">

			<ul class="horizontal">

				<span class="full-screen-only">

					<% unless user_signed_in?%>

						<li><%= link_to "Login", login_path %></li><li><%= link_to "How it Works", how_it_works_path %></li><li><%= link_to "Signup", signup_path, class:'signup-cta' %></li>

					<%else%>
						<% if current_user.is_tasker%>
							<li><%= link_to "My Profile", user_profile_path(current_user.id) %></li>
						<%end%><li><%= link_to "Account", account_settings_path %></li><li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

						
					<%end%>

				</span>

				<span class="mobile-only">

					<% unless user_signed_in?%>

						<li><%= link_to "Login", login_path %></li>
						<li><%= link_to "Signup", signup_path, class:'signup-cta' %></li>


					<%else%>
						
						<% if current_user.is_tasker %>

							<li><a class="header-profile-cta" href="<%= user_profile_path(current_user.id) %>"><%= image_tag current_user.image.url(:small), class:"header-profile-image" %></a></li>
						<%else%>

							<li><a class="header-cta" href="<%= service_category_formatted_index_path %>"><span class="button green-background">Hire Someone</span></a></li>

						<%end%>

						<li><a class="big-glyph" href="<%= account_settings_path %>"><span class="glyphicon glyphicon-cog" aria-hidden="true"></a></li>
						
					<%end%>

				</span>

			</ul>

		</div>

		

	</div>

</nav>