<footer class="footer-container">

	<div class="footer-content">

		<div class="row">

			<div class="col-xs-12 col-sm-4">

				<section class="footer-section">

					<header class="footer-header">MY ACCOUNT</header>

					<ul>

						<% unless user_signed_in? %>
							
							<li><%= link_to "Signup", non_tasker_signup_path %></li>

							<li><%= link_to "Login", login_path %></li>

							<li><%= link_to "Become a Mobile Professional", tasker_signup_path %></li>

							<li><%= link_to "How it Works", root_path %></li>

						<%else%>

							<li><%= link_to "Account Settings", account_settings_path %></li>

							<% if current_user.is_tasker %>

								<li><%= link_to "My Profile", user_profile_path(current_user.id) %></li>
								
							<%end%>

							<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

						<%end%>

						

					</ul>

				</section>

			</div>

			<div class="col-xs-12 col-sm-4">

				<section class="footer-section">

					<header class="footer-header">COMPANY</header>

					<ul>

						<li><%= link_to "About", about_path %></li>

						<li><%= link_to "Contact Us", root_path %></li>

					</ul>

				</section>

			</div>

			<div class="col-xs-12 col-sm-4">

				<section class="footer-section">

					<header class="footer-header">SOCIAL MEDIA</header>

					<ul>

						<li><a href="https://twitter.com/_servmanity">Twitter</a></li>

						<li><a href="https://www.facebook.com/servmanity/">Facebook</a></li>

						<li><a href="https://www.instagram.com/servmanity/">Instagram</a></li>

					</ul>

				</section>


			</div>

		</div>
		
	</div>

	<br><br><br>
	<div class="centered">Copyright <%= Time.now.strftime("%Y") %> 5MT EMPOWERMENT GROUP, LLC. All Right Reserved.</div>

</footer>