<!DOCTYPE html>
<html>

	<head>

		<title>Servmanity</title>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		<%= csrf_meta_tags %>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhzf2HMk2q6tM-y-ICTesCzKXwSZHq47A&libraries=places" type="text/javascript"></script>
		
		<script src="jquery.geocomplete.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#000000">

		<meta name="description" content="Servmanity is a community services marketplace where trusted professionals are empowered to meet the needs of their neighbors.">


	</head>

	<body>

		<% unless @hide_header %>
			<%= render 'headers/main_header' %>
			<%# render 'modals/main_menu' %>
		<%end%>

		<div class="content-container">
			
			<%= yield %>

		</div>
		
		<% if @fixed_bottom_cta %>
			<%# render 'modals/fixed_bottom_cta' %>
		<%end%>

		<% unless @hide_header or @hide_footer %>
			<%= render 'layouts/footer' %>
		<%end%>
		
	</body>

</html>
